# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science
- Arithmetic expressionQ

## Author
Sarah

Some of the popular languages that Data Scientists use are:1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:1. pandas
2. Matplotlib
3. Seaborn


| Data Science Tools |
| --- |
| Jupyter Notebookhed
| --- |
| RStudio |
| --- |
| Appache |


### Below are a few examples of evaluating arithmetic expressions in Python.
3 |

In [1]:
(3*4)+5
### This a simple arithmetic expression to mutiply then add integers

17

In [2]:
### This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335